GEMINI_API_KEY=""
APP_URL=""

# Firebase Credentials Config
VITE_FIREBASE_API_KEY="AIzaSyAUC3x46U_CtyIdPk6woNnZjNbgSq8ZkIM"
VITE_FIREBASE_AUTH_DOMAIN="ramaiane-blog.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="ramaiane-blog"
VITE_FIREBASE_STORAGE_BUCKET="ramaiane-blog.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="76799696653"
VITE_FIREBASE_APP_ID="1:76799696653:web:6f38a0dbb5e27b2b84da44"
